<template>
  <div>
    <p class="head">Trivia results</p>
    <div>
      <div class="scoreBox shadow-box">
        <div class="score">
          User score:
          <div v-html="returnScore"></div>
        </div>
        <div class="buttons">
          <button class="restartbutton" @click="clickedReturnButton">
            Return to start
          </button>
          <button class="replaybutton" @click="clickedReplayGame">
            Replay
          </button>
        </div>
      </div>
      <div
        class="card shadow-box"
        v-for="question in returnQuestions"
        :key="question.id"
      >
        <div>
          <div class="question shadow-box" v-html="question.question"></div>
        </div>
        <div class="answerbox">
          <div class="bottomrow shadow-box">
            <div>
              You said:
              <div class="user-answer" v-html="question.user_answer"></div>
            </div>
            <div>
              Correct answer was:
              <div
                class="correct-answer"
                v-html="question.correct_answer"
              ></div>
            </div>
          </div>
          <div class="bottomrow shadow-box">
            All answers:
            <div
              class="answers"
              v-for="answer in question.all_answers"
              :key="answer.id"
              v-html="answer"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  name: "Result",
  created() {
    this.checkHighScoreUpdate();
  },
  computed: {
    ...mapGetters(["returnQuestions", "returnScore"]),
    ...mapActions(["updateUserHighScore", "fetchTriviaQuestions"]),
    ...mapMutations(["setUserScoreToZero"]),
  },
  methods: {
    clickedReturnButton() {
      this.setUserScoreToZero;
      this.$router.push("/");
    },
    checkHighScoreUpdate() {
      this.updateUserHighScore;
    },
    clickedReplayGame() {
      this.fetchTriviaQuestions.then(() => {
        this.$router.push("questions");
      });
      this.setUserScoreToZero;
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.head {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
  align-content: center;
}
.shadow-box {
  border-radius: 8px;
  box-shadow: 0 0 1.6rem 0.5rem rgba(0, 0, 0, 0.3);
}
.card {
  display: block;
  margin: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
}
.card-content {
  padding: 2rem;
}
.answerbox {
  display: flex;
  flex-direction: row;
}
.scoreBox {
  padding: 1rem;
  display: inline-block;
}
.score {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.bottomrow {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  flex-grow: 1;
  position: relative;
  margin: 1.5rem;
  padding: 0.5rem;
}

.restartbutton {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-weight: 600;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.replaybutton {
  font-family: "Nunito", sans-serif;
  background-size: 15px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #eecda3;
  background-repeat: no-repeat;
  font-weight: 600;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.question {
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #eecda3 0%,
    #ef629f 51%,
    #eecda3 100%
  );
}
.answers {
  margin: 1rem;
}
.user-answer {
  padding: 1rem;
}
.correct-answer {
  padding: 1rem;
}

.btn-grad {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    to right,
    #eecda3 0%,
    #ef629f 51%,
    #eecda3 100%
  );
}
.btn-grad {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.btn-grad:hover {
  color: #fff;
  text-decoration: none;
}
</style>
