<template>
  <div>
    <p class="head">Trivia App</p>
    <div class="background">
      <form class="card">
        <p>
          Username:
          <input
            class="select"
            type="text"
            :value="userData.username"
            @input="changeUsername"
          />
        </p>
        <p>
          Category:
          <select
            class="select"
            :value="selectedQuizCategory"
            @change="selectCategory"
          >
            <option
              v-for="category in returnCategories"
              :value="category.id"
              :key="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </p>
        <p>
          Questions amount:
          <input class="select" type="text" v-model="quizOptions.amount" />
        </p>
        <p>
          Difficulty:
          <select class="select" v-model="quizOptions.difficulty">
            <option>easy</option>
            <option>medium</option>
            <option>hard</option>
          </select>
        </p>
        <button class="btn-grad" @click="onButtonClick">Start</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters, mapMutations } from "vuex";

export default {
  name: "Userinfo",
  async created() {
    await this.fetchTriviaCategories();
  },
  computed: {
    ...mapState(["userData", "quizOptions"]),
    ...mapGetters(["returnCategories", "selectedQuizCategory"]),
  },
  methods: {
    ...mapActions([
      "fetchTriviaCategories",
      "fetchTriviaQuestions",
      "addUserToDb",
    ]),
    ...mapMutations(["setUserData", "setQuizOptions"]),
    onButtonClick() {
      this.addUserToDb();
      this.fetchTriviaQuestions().then(() => {
        this.$router.push("questions");
      });
    },
    changeUsername(e) {
      this.setUserData({
        ...this.userData,
        username: e.target.value,
      });
    },
    selectCategory(e) {
      this.setQuizOptions({
        ...this.quizOptions,
        category: +e.target.value,
      });
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.head {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.background {
  margin: 1em;
  font-family: "Nunito", sans-serif;
}
.card {
  padding: 1rem;
  display: block;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: whitesmoke;
  box-shadow: 0 0 1.8rem 0.5rem rgba(0, 0, 0, 0.3);
}
.card-content {
  padding: 2rem;
}
.question {
  padding-bottom: 1rem;
}
.btn-grad {
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    to right,
    #eecda3 0%,
    #ef629f 51%,
    #eecda3 100%
  );
}
.btn-grad {
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
.btn-grad:hover {
  color: #fff;
  text-decoration: none;
}
.select {
  font-family: "Nunito", sans-serif;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
</style>
